# File .gitignore

# Bỏ qua các file hệ thống
.DS_Store
__pycache__/
*.pyc

# Bỏ qua các môi trường ảo
.venv/
venv/
env/

# Bỏ qua các file cài đặt của IDE
.vscode/
.idea/

# === PHẦN QUAN TRỌNG CHO NHÓM ===

# 1. Bỏ qua DỮ LIỆU LỚN
# Chỉ chặn các thư mục chứa dữ liệu lớn (DỮ LIỆU THÔ và ĐÃ XỬ LÝ)

data/raw/
data/manifests/
data/
processed_data/
processed_data/datasets/


# 2. Bỏ qua Model đã huấn luyện, Log và kết quả
checkpoints/
logs/

# 3. Bỏ qua các file dữ liệu lớn (phòng trường hợp)
*.h5
*.pt
*.svs
*.tif

# Giữ lại các file .gitkeep (để giữ cấu trúc thư mục rỗng)
!*/.gitkeep